.input-field {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  background-color: var(--base-bg-white);
  border: 1px solid var(--base-bg-400);
  border-radius: 4px;
  box-sizing: border-box;
}

.input-field:focus-within {
  border-color: var(--primary-bg-500);
}
