.edit {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.edit__info {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
}

.edit__button-block {
  display: inline-flex;
  justify-content: end;
  padding: 32px;
}
