.chatlist__item {
  display: flex;
  height: 70px;
  box-sizing: border-box;
}

.chatlist-item {
  margin: 2px 4px 0px 10px;
  padding: 2px 10px 4px 4px;
  border-radius: 5px;
  background-color: var(--base-bg-white);
}

.chatlist-item:focus,
.chatlist-item:hover {
  transition: all 0.1s ease-in;
  background-color: var(--primary-bg-100);
}

.chatlist-item_active {
  background-color: var(--secondary-bg-hover);
}

.chatlist-item__image-container {
  max-height: 66px;
  max-width: 66px;
  min-height: 66px;
  min-width: 66px;
}

.chatlist-item__content {
  display: flex;
  flex-direction: column;
  padding: 8px 0 8px 16px;
  flex-grow: 1;
  overflow: hidden;
}

.chatlist-item__title {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  flex-grow: 1;
}

.chatlist-item__text {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  flex-grow: 1;
  color: var(--base-bg-900);
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis;
}

.chatlist-item__row {
  display: flex;
  height: 22px;
  line-height: 22px;
}

.chatlist-item__time {
  margin-top: -0.3375rem;
  color: var(--base-bg-600);
  height: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.chatlist-item__count {
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid var(--primary-bg-400);
  border-radius: 10px;
  padding: 0px 8px;
  line-height: 20px;
  color: var(--base-bg-600);
}

.chatlist-item_active .chatlist-item__count {
  color: var(--base-bg-50);
  border-color: var(--base-bg-50);
}

.chatlist-item:focus .chatlist-item__count,
.chatlist-item:hover .chatlist-item__count {
  color: var(--base-bg-600);
  border-color: var(--primary-bg-400);
}
