.block-info__row {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 16px;
  align-items: center;
}

.block-info__row:hover {
  transition: all 0.1s ease-in;
  background-color: var(--primary-bg-100);
  cursor: pointer;
}

.block-info__row:active {
  transition: all 0.1s ease-in;
  background-color: var(--primary-bg-200);
  cursor: pointer;
}

.block-info__detail {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.block-info__text {
  color: var(--base-bg-600);
}

.block-info__label {
  font-size: 12px;
  color: var(--base-bg-500);
}
