.user-info {
  display: flex;
  height: 70px;
  line-height: 70px;
  padding-right: 32px;
}

.user-info__image-container {
  padding: 0 16px;
}

.user-info__name {
  padding-top: 8px;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.user-info__icon-block {
  max-width: 40px;
  max-height: 40px;
}

.user-info__chat-detail {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  line-height: 12px;
}
